In [12]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\24114290112\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\program files\python313\lib\site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\24114290112\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\24114290112\appdata\roaming\python\python313\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\24114290112\appdata\roaming\python\python313\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\24114290112\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
import pandas as pd

In [16]:
df = pd.read_csv("wine.csv")
df.head()

   id  alcohol  fixed_acidity  residual_sugar quality  density
0   0     13.6            9.3             6.4    high   1.0005
1   1     14.0           11.2             2.0  medium   0.9912
2   2      8.2           11.6             0.9     low   0.9935
3   3     12.7           12.9             6.6     low   1.0002
4   4     10.4           13.9            13.8  medium   0.9942

In [18]:
print(df.info())


print(df.describe())

print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1000 non-null   int64
 1   alcohol         990 non-null    float64
 2   fixed_acidity   1000 non-null   float64
 3   residual_sugar  997 non-null    float64
 4   quality         1000 non-null   object
 5   density         1000 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 47.0+ KB
None
                id     alcohol  fixed_acidity  residual_sugar      density
count  1000.000000  990.000000    1000.000000      997.000000  1000.000000
mean    499.500000   11.038081      10.174300        7.685757     0.997505
std     288.819436    1.763647       3.452693        4.213067     0.004300
min       0.000000    8.000000       4.000000        0.500000     0.990000
25%     249.750000    9.500000       7.100000        4.100000     0.993900
50%     499.500000   11.000000      10.400000        7.500000     0.997400
75%     749.250000   12.600000      13.125000       11.500000     1.001200
max     999.000000   14.000000      16.000000       15.000000     1.005000
id                 0
alcohol           10
fixed_acidity      0
residual_sugar     3
quality            0
density            0
dtype: int64